* {
    margin: 0;

}

.header {
    background-color: #FFE7D4;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    font-family: 'Roboto Slab', serif;
    color: #F89876;
}

.bio-box {
    background-color: #F89876;
    height: 100%px;
    float: left;
    width: 70%;
}

.bio-pic {
    float: right;
    width: 30%;
    height: 100%;
}

.bio {
    color: rgb(255, 255, 255);
    padding: 50px 50px 50px 50px;
    font-size: 20px;
    line-height: 40px;

}

.mail-icon {
    width: 50px;
    margin: 20px 0px 0px 0px;
}